<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /walletconnect-v2/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /walletconnect-v2/index.html [L]
</IfModule>